body {
    margin: 0;
    background: #4B5563;
}

@font-face {
    font-family: digital;
    src: url("digital-7.ttf");
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 10px;
}

.home-container {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-container h3 {
    margin-bottom: 10px;
    font-weight: 900;
    color: white;
}

.score {
    font-family: digital;
    font-size: 48px;
    background: black;
    color: red;
    border-radius: 6px;
    padding: 10px 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.btns-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

.score-btns {
    font-family: digital;
    background: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    width: 50px;
}

.score-btns:hover {
    background: white;
    color: #4B5563;
}

.game-btns-container {
    display: flex;
    flex: none;
    align-items: center;
}

.game-btn {
    font-family: digital;
    background: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    font-size: 36px;
    padding: 5px 10px;
}

.game-btn:hover {
    background: white;
    color: #4B5563;
}